<section class="row">
  <div class="col-2 bg-white"></div>
  <div class="col-2 bg-black"></div>
  <div class="col-2 text-center"> vazio </div>
  <div class="col-2 text-center"> vazio </div>
  <div class="col-2 text-center"> vazio </div>
  <div class="col-2 text-center"> vazio </div>
</section>

<section class="row">
  <div class="col-2 bg-primary"></div>
  <div class="col-2 bg-secondary"></div>
  <div class="col-2 bg-usafa-blue"></div>
  <div class="col-2 bg-citrine"></div>
  <div class="col-2 bg-burnt-umber"></div>
  <div class="col-2 text-center"> vazio </div>
</section>

<section class="row">
  <div class="col-2 bg-success"></div>
  <div class="col-2 bg-info"></div>
  <div class="col-2 bg-warning"></div>
  <div class="col-2 bg-danger"></div>
  <div class="col-2 bg-light"></div>
  <div class="col-2 bg-dark"></div>
</section>
