.bg-white {             background-color: $white }
.bg-black {             background-color: $black }

.bg-usafa-blue {        background-color: $usafa-blue; }
.bg-citrine {           background-color: $citrine; }
.bg-burnt-umber {       background-color: $burnt-umber; }
