.bg-white {             background-color: $white }
.bg-black {             background-color: $black }

.bg-usafa-blue {        background-color: $usafa-blue; }
.bg-citrine {           background-color: $citrine; }
.bg-burnt-umber {       background-color: $burnt-umber; }
.bg-darker {            background-color: $darker; }

.text-white {             color: $white }
.text-black {             color: $black }

.text-usafa-blue {        color: $usafa-blue; }
.text-citrine {           color: $citrine; }
.text-burnt-umber {       color: $burnt-umber; }
.text-darker {            color: $darker; }
