.movie {
    height:             $movie-size-height-base;
    border:             1px solid $light;
    border-radius:      $border-radius-base;
    margin:             0 auto;
    box-shadow:         $movie-shadow-position $shadow-color-light;

    &:hover {
        .poster {
            transition:         $time-xl ease background-size;
            background-size:    $bg-poster-zoom;
        }
        .btn-see-more {
            display:    block;
            animation:  $more-info $time-xl forwards;
        }
    }
}
.movie-title{
    overflow:           auto;
    min-height:         $movie-title-size-min-height;
    max-height:         $movie-title-size-max-height;
}
.movie-info {
    padding:            $spacing-base-y $spacing-base-y;
    background:         lighten($light, 30%);
    border-radius:      ($border-radius-base - 1);
    z-index:            $movie-info-z-index;
}
.poster {
    border-radius:      $poster-border-radius;
    z-index:            0;
    transition:         $time-xl ease background-size;
    
    @include background-base;
}
.synopsis {
    margin:             $spacing-sm-y 0;
}
