<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Style</th>
      <th>Text</th>
      <th>Style</th>
      <th>Text</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><p class="badge badge-success">Paragraph</p></td>
      <td colspan="3"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p></td>
    </tr>
    <tr>
      <td><p class="badge badge-info">Italic</p></td>
      <td><i>Lorem ipsum dolor sit amet consectetur adipisicing elit.</i></td>
      <td><p class="badge badge-info">Bold</p></td>
      <td><b>Lorem ipsum dolor sit amet consectetur adipisicing elit.</b></td>
    </tr>
    <tr>
      <td><p class="badge badge-success">Mark</p></td>
      <td><p>Lorem ipsum <mark>dolor sit</mark> amet consectetur adipisicing elit.</p></td>
      <td><p class="badge badge-success">Deleted</p></td>
      <td><p>Lorem ipsum <del>dolor sit</del> amet consectetur adipisicing elit.</p></td>
    </tr>
    <tr>
      <td><p class="badge badge-info">Inserted</p></td>
      <td><p>Lorem ipsum <ins>dolor sit</ins> amet consectetur adipisicing elit.</p></td>
      <td><p class="badge badge-info">Subscripted</p></td>
      <td><p>Lorem ipsum <sub>dolor sit</sub> amet consectetur adipisicing elit.</p></td>
    </tr>
    <tr>
      <td><p class="badge badge-success">Superscripted</p></td>
      <td><p>Lorem ipsum <sup>dolor sit</sup> amet consectetur adipisicing elit.</p></td>
      <td><p class="badge badge-success">Code</p></td>
      <td><p>Lorem ipsum <code>dolor sit</code> amet consectetur adipisicing elit.</p></td>
    </tr>
  </tbody>
</table>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Header</th>
      <th>Text</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><h1>H1</h1></td>
      <td><h1>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1></td>
    </tr>
    <tr>
      <td><h2>H2</h2></td>
      <td><h1>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1></td>
    </tr>
    <tr>
      <td><h3>H3</h3></td>
      <td><h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3></td>
    </tr>
    <tr>
      <td><h4>H4</h4></td>
      <td><h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4></td>
    </tr>
    <tr>
      <td><h5>H5</h5></td>
      <td><h5>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h5></td>
    </tr>
    <tr>
      <td><h6>H6</h6></td>
      <td><h6>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h6></td>
    </tr>
  </tbody>
</table>
