<section class="movie row">
  <figure class="col-lg-5 p-0 poster" [style.background-image]="'url('+ADDRESS_POSTERS + movie.poster+')'">
    <!-- <img [src]="ADDRESS_POSTERS + movie.poster" alt="poster-movie"> -->
    <button class="btn-see-more"><i class="fas fa-plus"></i> Mais Informações</button>
  </figure>
  <article class="movie-info col-lg-7">
    <header>
      <h5 class="movie-title">{{ movie.title }}</h5>
    </header>
    <section>
      <p class="badge badge-success mr-2 mb-0" *ngFor="let genres of movie.genres">{{ genres }}</p>
      <p class="synopsis">{{ movie.synopsis }}</p>
    </section>
    <footer>
      <span class="rating-tag livre" title="Livre para todas as idades"></span>
      <figure class="d-inline" *ngIf="is3D">
        <b class="mr-1">3D</b>
        <img [src]="ICON_3D" alt="3D-Glasses" title="Tecnologia 3D">
      </figure>
    </footer>
  </article>
</section>
