$navbar-padding-y:                      6px !default;
$navbar-padding-x:                      4rem !default;

$navbar-padding-top:                    10rem !default;

// $navbar-nav-link-padding-x:         .5rem !default;

$navbar-brand-font-family:              $font-family-title !default;
$navbar-brand-font-size:                $font-size-lg !default;
$navbar-brand-margin-right:             1.5rem !default;
$navbar-brand-margin-left:              0 !default;
