
$padding-base-y:            .8rem !default;
$padding-lg-y:              ($padding-base-y * 1.5) !default;
$padding-sm-y:              ($padding-base-y * .875) !default;

$padding-base-x:            .8rem !default;
$padding-lg-x:              ($padding-base-x * 1.5) !default;
$padding-sm-x:              ($padding-base-x * .875) !default;

$border-radius-base:                2px;
$border-radius-base-top:            2px 2px 0 0;

$time-base:                 .14s;
